body{
    background-color: black;
}
/*presentacion*/
header{
    margin-top: 10%;
    background-color: black;
    color: beige;
   }
header img{
    float: left;
}
p{
    text-justify:inherit;
    text-align: justify;
}
h1{
    text-align: center;
}
.trabajos h2{
    color: bisque;
}